<template>
  <v-container fluid style="padding: 0">
    <v-card width="100vw" height="100vh" :color="steps[currentStep].color" flat>
      <v-row class="fill-height" justify="center" align="center">
        <v-col cols="auto" align-self="center">
          <div class="text-lg-h2 text-sm-h5 text-white text-center">
            <p>{{ steps[currentStep].text }}</p>
          </div>
          <div
            v-if="steps[currentStep].nextButton"
            class="d-flex flex-row justify-center align-center flex-grow-1"
          >
            <v-btn
              class="mt-4"
              min-width="10vw"
              flat
              color="black"
              v-text="steps[currentStep].nextButton"
              @click="nextStep"
            ></v-btn>
            <v-btn
              v-if="steps[currentStep].specButton"
              class="mt-4 ml-4"
              min-width="10vw"
              flat
              color="black"
              v-text="steps[currentStep].specButton"
              @click="nextStep(false)"
            ></v-btn>
          </div>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "HelloWorld",
  data: () => ({
    currentStep: 0,
    steps: [
      {
        text: "Привет, сейчас мы поиграем в игру)",
        nextButton: "Вперед!",
        color: "pink",
      },
      {
        text: "Каждый шаг - просто действие которое ты должна выполнить",
        nextButton: "Ок",
        color: "red",
      },
      {
        text: "И да, тут как с мишей, назад пути нет",
        nextButton: "Ну ладноооо",
        color: "purple-accent-2",
      },
      {
        text: "Первое задание, поцелуй Мишу!",
        nextButton: "😘",
        color: "pink-accent-2",
      },
      {
        text: "А теперь одевайся!",
        nextButton: "Хорошо",
        color: "black",
      },
      {
        text: "Первая остановка Небо, \n а точнее кино (прошу прощения за то что это небо,\n но я хотел воссоздать атмосферу третьего свидания,\n а в нужное время шло только это)",
        nextButton: "Ну давай",
        color: "light-blue-darken-4",
      },
      {
        text: "Поцелуй Мишу",
        nextButton: "😘",
        color: "pink-accent-2",
      },
      {
        text: "Возьми Мищу за руку",
        nextButton: "Фииии",
        color: "blue-grey-darken-1",
      },
      {
        text: "Сейчас отдыхай и смотрим фильм😘",
        nextButton: "Эмммм",
        color: "deep-purple-accent-1",
      },
      {
        text: "Когда закончишь, жми го",
        nextButton: "Го",
        color: "pink-darken-2",
      },
      {
        text: "Теперь идем в Парк Свердлова!",
        nextButton: "Идем",
        color: "deep-purple-darken-1",
      },
      {
        text: "И так, вы пришли, закрой глаза",
        nextButton: "Закрываю",
        color: "teal-accent-1",
      },
      {
        text: "Поцелуй Мишу",
        nextButton: "😘",
        color: "pink-accent-2",
      },
      {
        text: "По пути поцелуй Мишу)",
        nextButton: "😘",
        color: "pink-accent-2",
      },
      {
        text: "Теперь Джани",
        nextButton: "Оукей",
        color: "orange-accent-2",
      },
      {
        text: "По пути поцелуй Мишу)",
        nextButton: "😘",
        color: "pink-accent-2",
      },
      {
        text: "По пути поцелуй Мишу еще раз)",
        nextButton: "😘",
        color: "pink-accent-2",
      },
      {
        text: "Вы тут, сейчас время ужина и воспоминаний ",
        nextButton: "17.01.2020",
        color: "purple-accent-3",
      },
      {
        text: "Когда поужинаете то отправляйтесь к вашему закутку",
        nextButton: "Там где вы впервые поцеловались",
        color: "pink-darken-2",
      },
      {
        text: "Теперь ваш путь лежит туда куда Миша скажет",
        nextButton: "Нажми далее когда Миша скажет",
        color: "pink-darken-1",
      },
      {
        text: "Закрой глаза",
        nextButton: "Закрыла",
        color: "pink",
      },
      {
        text: "Скажите Да!",
        nextButton: "Да",
        color: "pink-accent-1",
      },
      {
        text: "Вы сказали да?",
        nextButton: "Да",
        specButton: "Нет",
        color: "black",
      },
      {
        text: "❤❤❤❤❤❤❤❤❤❤❤❤❤",
        yes: true,
        color: "pink-accent-1",
      },
      {
        text: ".......",
        yes: false,
        color: "black",
      },
    ],
  }),
  watch: {
    currentStep() {
      localStorage.setItem("currentStep", this.currentStep);
    },
  },
  mounted() {
    let item = localStorage.getItem("currentStep");
    if (item) {
      this.currentStep = Number(item);
    }
    if (this.currentStep >= this.steps.length) {
      this.currentStep = this.steps.length - 1;
    }
  },
  methods: {
    nextStep(value) {
      if (this.currentStep < this.steps.length - 1) {
        if (this.steps[this.currentStep].specButton) {
          if (!value) {
            this.currentStep = this.currentStep + 2;
          } else {
            this.currentStep = this.currentStep + 1;
          }
        } else {
          this.currentStep = this.currentStep + 1;
        }
      }
    },
  },
};
</script>
